{% extends "base.html" %}


{% block content %}
<h2>
{% block title %}
Přidat knihu
{% endblock %}
</h2>

   <form method="POST" >
          <label>Nazev knihy
          <input type="text" name="name" required>
          </label>
        <br><br>

        <label>
            Popis
            <input type="text" name="description">
        </label>
        <br><br>

       Hodnocení knihy:
        <label>
            1
             <input type="radio" name="radio" value="1" required>
        </label>
        <label>

             <input type="radio" name="radio" value="2" >
        </label>
       <label>

             <input type="radio" name="radio" value="3" >
        </label>
        <label>

             <input type="radio" name="radio" value="4" >
        </label>
        <label>

             <input type="radio" name="radio" value="5" >
            5
        </label>


        <button type="submit">Odeslat</button>
    </form>

{% endblock %}