<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/addBook">Přidat knihu</a></li>
            <li>1</li>
            <li>2</li>
        </ul>
    </nav>


    <div id="content">
        {% block content %}
            <h2>

            </h2>
        {% endblock %}
    </div>

    <footer>
        <p>2025 Vlastní knihovna.</p>
    </footer>
</body>

</html>