<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('login.login') }}">Přihlásit se</a></li>
            <li><a href="{{ url_for('login.user_list') }}">Users</a></li>
            <li><a href="{{url_for('login.register')}}">Registration</a></li>
            {% if 'username' in session %}
                <li><a href="{{url_for('login.post')}}">Post</a></li>
            {% endif %}
        </ul>
    </nav>

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flash-messages">
            {% for category, message in messages %}
                <li class="flash-message {{ category }}">
                    {{ message }}
                    <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>

    <footer>
        <p>2025 Vlastní knihovna.</p>
    </footer>
</body>

</html>