{% extends "base.html" %}
{% block content %}
<h1>
    {% block title %}
    User list
    {% endblock %}
</h1>



    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>jmeno</th>
                <th>heslo</th>
                <th>role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}